@model IEnumerable<Naukri.Models.AppliedJob>

@{
    ViewBag.Title = "AppliedDetails";
}
@if (Model.Count() == 0)
{
    <h2 style="color:red">Till Now No One Has Applied</h2>
   
}
else
{
    <h2>Applied By</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidate.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidate.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidate.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.Name)
                </td>
                <td>
                    <input type="button" value="More Details" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("ApplyCandidateDetails", "Recruiters", new { candiadateId = item.Candidate.Id })'" />

                </td>
            </tr>
        }

    </table>
}
